
<section class="login">
	<div class="titulo">Login</div>
	<form action='/login' method="post">
    	<input type="text" name="email" placeholder="Email Address" data-icon="U">
        <input type="password" name="password" placeholder="Password" data-icon="x">
        <div class="olvido">
          <div class="olvido">
            <div class="col"><a href="/signup" title="Ver Carásteres">Register</a></div>
              <!-- <div class="col"><a href="#" title="Recuperar Password">Forgot Password?</a></div> -->
        </div>
        <input name="submit" type="submit" value="Log In" class="enviar">
    </form>
</section>
