<% if logged_in? %><h2> Welcome <%= user.first_name %>! </h2><% end %>
<p>you are successfully signed in!</p>
<p>Here are the courses you are enrolled in!</p>

<iframe src ="http://yoursite.thinkific.com"></iframe>
