<% if logged_in? %>

    <section class="login">
    	<div class="titulo"><h2> Welcome <%= user.first_name %>! </h2></div>
    	<form action='/logout' method="get">
            <input name="submit" type="submit" value="Log Out" class="enviar" id="signout">
        </form>
    </section>

<% else %>

<%= erb(:"forms/login_form", locals: {return_to: @return_to} ) %>

<br/>
<!--
<a href="/signup">Sign Up</a> -->

<% end %>
