<section class="login">
	<div class="titulo">Sign Up for Your Site</div>
	<form action='/signup' method="post">
    	<input name="first_name" type="text" placeholder="First name">
      <input name="last_name" type="text" placeholder="Last name">
      <input name="email" type="text" placeholder="Email Address">
      <input name="password" type="password" placeholder="Password">
			<div class="olvido">

						<!-- <div class="col"><a href="#" title="Recuperar Password">Forgot Password?</a></div> -->

      <input name="submit" type="submit" value="Sign Up" class="enviar">
			</div>
    </form>
</section>
